
<header class="pb-3">
    <div class="container mx-auto row">
        
        
        <div id="id-photo" class="col-md-3">
            <img src="./assets/photo-profil.jpg" alt="">
        </div>
        
        <div class="col-md-9">
            <app-navbar></app-navbar>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mt-3">
                        <h5>Julien Marque</h5>
                        Développeur FullStack (Spring, Angular)<br>
                        29 ans, permis B et véhiculé
                    </div>
                    <div  class="mt-3">
                        <h5>Réseaux sociaux</h5>
                        <i class="fab fa-github mr-1"></i><a href="https://github.com/markhovich/">GitHub</a> |
                        <i class="fab fa-linkedin mr-1"></i><a href="https://www.linkedin.com/in/julien-marque/">Linkedin</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mt-3">
                        <h5>Coordonnées</h5>
                        <div class="">
                            <div class="row">
                                <div class="col-xs-1 ml-2">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="col-xs-11 ml-2">
                                    rue des rocailles 63210<br>
                                    ROCHEFORT-MONTAGNE
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 ml-2">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="col-xs-11 ml-2">                         
                                    06 16 38 36 87
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1 ml-2">
                                    <i class="fas fa-at"></i>
                                </div>
                                <div class="col-xs-11 ml-2">
                                    marque_julien@hotmail.fr
                                </div>
                            </div>
                        </div> 
                        <div class="mt-3">
                            <h5>Langues</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="flag mr-1" src="./assets/icons/uk.png" alt="uk-flag">
                                    Anglais
                                </div>
                                <div class="col-md-4">
                                    <img class="flag mr-1" src="./assets/icons/spain.png" alt="spain-flag">
                                    Espagnol
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,105 105,105"/>
    </svg>
</header>