/************************ HEADER ***************************************/
header{
    color: var(--main-bg-color);
}

.slanting-back{
    background: linear-gradient(5deg, var(--main-bg-color) 120px, var(--secondary-bg-color-1) 120px, var(--secondary-bg-color-2));
    position: absolute;
    height: 400px;
    top:0;
    left:-0;
    right:-0;
    bottom:0px;
    z-index: -1; 
}

#id-photo{
    text-align: center;
    padding-top: 2rem;
}

img{
    width: 80%;
}

a{
    color: var(--main-text-color);
}


/***************** MEDIA QUERIES *************************/

@media (max-width: 991px) {
    .slanting-back{
        height: 450px;
    }
 }

 @media (max-width: 768px) {
    .slanting-back{
        height: 1000px;
    }
 }

 @media (max-width: 575px) {
    .slanting-back{
        height: 1100px;
    }
 }

 @media (max-width: 382px) {
    .slanting-back{
        height: 1000px;
    }
 }