
<header id="header" class="pb-3">
    <app-navbar ></app-navbar>
    <div class="container mx-auto">

        <div class="row">

        <div id="id-photo" class="col-md-3">
            <img src="./assets/photo-julien-marque.jpg" alt="">
        </div>
        
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mt-3">
                        <h5>Julien Marque</h5>
                        {{ 'header.intro.job' | translate}}<br>
                        {{ 'header.intro.spe' | translate}}<br>
                        30 {{ 'header.intro.years' | translate}}
                    </div>
                    <div  class="mt-3">
                        <h5>{{ 'header.subtitle.social' | translate}}</h5>
                        <i class="fab fa-linkedin mr-1"></i><a href="https://www.linkedin.com/in/julien-marque/" target="_blank">LinkedIn</a> | 
                        <i class="fab fa-github mx-1"></i><a href="https://github.com/markhovich/" target="_blank">GitHub</a> |
                        <i class="fab fa-stack-overflow mx-1"></i><a href="https://stackoverflow.com/users/13628126/julien" target="_blank">StackOverflow</a>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-outline-warning">
                            <a href="../assets/cv-julien-marque-developpeur.pdf" target="_blank">{{ 'header.subtitle.download-cv' | translate}}</a>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mt-3">
                        <h5>{{ 'header.subtitle.contact' | translate}}</h5>
                        <div class="">
                            <div class="row ">
                                <div class="col-sm-1 ml-2">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="col-sm-11 ml-2">
                                    CLERMONT-FERRAND - FRANCE
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 ml-2">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="col-sm-11 ml-2">                         
                                    06 16 38 36 87
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 ml-2">
                                    <i class="fas fa-at"></i>
                                </div>
                                <div class="col-sm-11 ml-2">
                                    marque_julien@hotmail.fr
                                </div>
                            </div>
                        </div> 
                        <div class="mt-3">
                            <h5>{{ 'header.subtitle.languages' | translate}}</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="flag mr-1" src="./assets/icons/france.png" alt="france-flag">
                                    {{ 'header.lang.fr' | translate}}
                                </div>
                                <div class="col-md-4">
                                    <img class="flag mr-1" src="./assets/icons/uk.png" alt="uk-flag">
                                    {{ 'header.lang.en' | translate}}
                                </div>
                                <div class="col-md-4">
                                    <img class="flag mr-1" src="./assets/icons/spain.png" alt="spain-flag">
                                    {{ 'header.lang.es' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,0 0,105 105,105"/>
    </svg>
</header>