               <em>
                                    <h5>Front</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="mr-3">
                                                <img src="./assets/icons/html-5.svg" alt="">
                                            HTML
                                            </span> 
                                            <span class="mr-3">
                                            <img src="./assets/icons/css-3.svg" alt="">
                                            CSS
                                            </span>
                                            <img src="./assets/icons/bootstrap.svg" alt="">
                                            Bootstrap</li>
                                        <li class="list-group-item">
                                            <span class="mr-3">
                                            <img src="./assets/icons/typescript.png" alt="">
                                            TypeScript
                                            </span>
                                            <img src="./assets/icons/angular.png" alt="">
                                            Angular</li>
                                    </ul>
                                    <a [href]="frontUrl" target="_blank"
                             class="btn-outline-danger btn btn-block mt-4">Voir le code source du front sur GitHub</a>
                                    <h5 class="mt-2">Back</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <span class="mr-3">
                                            <img src="./assets/icons/java.svg" alt="">
                                            Java 
                                            </span>
                                            <img src="./assets/icons/spring-boot.svg" alt="">
                                            Spring</li>
                                        <li class="list-group-item">
                                            <span class="mr-3">
                                            <img src="./assets/icons/rest.png" alt="">
                                            REST 
                                            </span>
                                            <img src="./assets/icons/postman.png" alt="">
                                            Postman</li>
                                        <li class="list-group-item">
                                            <span class="mr-3">
                                            <img src="./assets/icons/hibernate.svg" alt="">
                                            Hibernate 
                                            </span>
                                            <img src="./assets/icons/mysql.svg" alt="">
                                            mySQL</li>
                                    </ul>
                                </em>

                             <a [href]="backUrl" target="_blank"
                             class="btn-outline-danger btn btn-block mt-4">Voir le code source du back sur GitHub</a>