nav {
    position: fixed;
    padding-top: 0.2rem;
    z-index: 10;
    width: 100vw;
}

.navbar{
    position: relative;
    max-width: 700px;
    margin: auto;
}

#navbar-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scrolled{
    background: linear-gradient(var(--secondary-bg-color-2), var(--secondary-bg-color-1));
    animation: background-opacity 0.8s linear;
    animation-fill-mode: forwards;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--main-text-color);
    font-size: 1.4rem;
    transition: 0.5s;
}

img{
    width: 1.6rem;
}

/************ TOGGLE BUTTONS ********************/

.toggle-container{
    position: absolute;
    top: 0.8rem;
}

.press-container{
    cursor: pointer;

    position: absolute;

    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: white;
}

.press-container input{
    display: none;
}

.press-slider{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.5s;
}

.press-slider:before{
    position: absolute;
    content: "";
    top: 0.25rem;
    left: 0.25rem;
    height: 1.7rem;
    width: 1.7rem;
    background-size: cover;
    transition: 0.5s;
}
/************ TOGGLE BUTTON LANGUAGE ********************/

.toggle-lang{
    right: 8rem;
}

.press-slider-lang:before{
    background: url('../../assets/icons/france.png');
}

input:checked + .press-slider-lang:before{
    animation: to-english 1s forwards;
}

input:not(:checked) + .press-slider-lang:before{
    animation: to-french 1s forwards;
}

@keyframes to-english {
    33%{
        height: 0.2rem;
        width: 0.2rem;
        top: 1rem;
        left: 1rem;
    }
    66%{
        height: 2.5rem;
        width: 2.5rem;
        top: -0.15rem;
        left: -0.15rem;
    }
    100%{
        height: 1.7rem;
        width: 1.7rem;
        background: url('../../assets/icons/uk.png');
        background-size: cover;

    }
}

@keyframes to-french {
    33%{
        height: 0.2rem;
        width: 0.2rem;
        top: 1rem;
        left: 1rem;
    }
    66%{
        height: 2.5rem;
        width: 2.5rem;
        top: -0.15rem;
        left: -0.15rem;
    }
    100%{
        height: 1.7rem;
        width: 1.7rem;
        background: url('../../assets/icons/france.png');
        background-size: cover;

    }
}

/************ TOGGLE BUTTON DARK THEME********************/

.toggle-theme{
    right: 5rem;
}

.press-slider-theme:before{
    background: url('../../assets/icons/sun.svg');
}

input:checked + .press-slider-theme{
    background-color: black;
}

input:checked + .press-slider-theme:before{
    animation: to-moon 1s forwards;
}

input:not(:checked) + .press-slider-theme:before{
    animation: to-sun 1s forwards;
}

@keyframes to-moon {
    33%{
        height: 0.2rem;
        width: 0.2rem;
        top: 1rem;
        left: 1rem;
    }
    66%{
        height: 2.5rem;
        width: 2.5rem;
        top: -0.15rem;
        left: -0.15rem;
        filter: invert(50%);
    }
    100%{
        height: 1.7rem;
        width: 1.7rem;
        background: url('../../assets/icons/moon.svg');
        background-size: cover;

    }
}

@keyframes to-sun {
    33%{
        height: 0.2rem;
        width: 0.2rem;
        top: 1rem;
        left: 1rem;
    }
    66%{
        height: 2.5rem;
        width: 2.5rem;
        top: -0.15rem;
        left: -0.15rem;
        filter: invert(50%);
    }
    100%{
        height: 1.7rem;
        width: 1.7rem;
        background: url('../../assets/icons/sun.svg');
        background-size: cover;

    }
}

/***************** MEDIA QUERIES **************************/

@media (max-width: 990px) {

    nav {
        background: linear-gradient(var(--secondary-bg-color-2), var(--secondary-bg-color-1));
    }
}

@media (max-width: 900px) {
    .toggle-container{
        right: 15rem;
    }
}

@media (max-width: 700px) {
    .toggle-container{
        right: 8rem;
    }
}

@keyframes background-opacity {
    0%{
        opacity: 0;    
    }
    100%{
        opacity: 1;
    }
}