
<nav>
  <div id="navbar-background"></div>
  <div class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#header">
      <img src="./assets/icons/logo.png" alt="JM">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#presentation">{{ 'header.navbar.presentation' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#competences">{{ 'header.navbar.competences' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">{{ 'header.navbar.realisations' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#timeline">{{ 'header.navbar.timeline' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- toggle language -->
  <div class="toggle-container toggle-lang">
    <label class="press-container">
        <input type="checkbox" (click)="useLanguage()">
        <span class="press-slider press-slider-lang"></span>
    </label>
  </div>
  <!-- toggle theme -->
  <div class="toggle-container toggle-theme">
    <label class="press-container">
        <input type="checkbox" (click)="toggleBackground()">
        <span class="press-slider press-slider-theme"></span>
    </label>
  </div>
</nav>