<nav class="navbar navbar-expand-lg ">
    
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#presentation">Présentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Réalisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#timeline">Parcours</a>
        </li>
      </ul>
  </nav>