
<nav>
  <div id="navbar-background"></div>
  <div class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#header">
      <img src="./assets/icons/logo.png" alt="JM">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#presentation">Présentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#competences">Compétences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Réalisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#timeline">Parcours</a>
        </li>
      </ul>
    </div>
    
  </div>
  <div class="toggle-container">
    <label class="round-container switch">
        <input type="checkbox" (click)="toggleBackground()">
        <span class="round slider"></span>
    </label>
</div>
</nav>