<div class="timeline2">
    <ul>
        <li>
            <div>
                <div class="time-title">
                    <h4>2020 - POEC Développeur Java Full Stack</h4>
                    <em>M2I Formations à Clermont-Ferrand</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success">Certification obtenue avec 62% </span>

                    <p>
                        Comprendre les concepts objets de la programmation<br>
                        Utiliser Angular pour construire une application web<br>
                        Implémenter Spring et Hibernate pour construire 
                        une API REST
                    </p>
                </div>
                
            </div>
        </li>
        
        <li>
            <div>
                <div class="time-title">
                    <h4>2019 - Vendeur magasin de fromage</h4>
                    <em>Société Laitière de Laqueuille</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>

                    <p>
                        Service, encaissement client<br>
                        Conseil clientèle, respect des règles d’hygiène<br>
	                    Logistique, organisation des zones de stockage 
                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>2019 - Voyage au Mexique</h4>
                    <em>En Jalisco, Oaxaca et Chiapas sur 3 mois</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Road trip à travers le pays<br>
                        Volontariat dans une permaculture dans le Jalisco<br>
                        Volontariat réception/bar dans une auberge de jeunesse en Oaxaca
                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>2018 - Agent fromager</h4>
                    <em>Société Laitière de Laqueuille</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Moulage, salage et démoulage des fromages

                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>Fin 2017 - Deuxième voyage au Royaume-Uni</h4>
                    <em>Yorkshire, Ecosse, Liverpool</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Road Trip : Nord Angleterre/Ecosse entrecoupé<br>
                        de volontariats<br>
                        Maraîchage bio à Sheffield<br>
                        Entretien d'un jardin à Edinburgh

                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>2016/2017 - Assistant marketing</h4>
                    <em>Société Laitière de Laqueuille</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Création d'une base de données produits, de books, <br>
	                    d'argumentaires de vente, affiches publicitaires<br>
	                    Mise en place de la charte graphique entreprise<br>
	                    Restructuration du Site Internet sous Wordpress<br>
                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>Eté 2016 - Premier voyage au Royaume-Uni</h4>
                    <em>Yorkshire (Sheffield)</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Première expérience de volontariat<br>
                        Maraîchage bio à Sheffield<br>
                    </p>
                </div>
                
            </div>
        </li>

        <li>
            <div>
                <div class="time-title">
                    <h4>2014/2015 - Licence Pro Technologiste Emballage</h4>
                    <em>ESEPAC à St-Germain-Laprade (43)</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                    <p>
                        Conception et optimisation d'emballages <br>
                        Méthodologie et sciences de la matière<br>
	                    Domaines techniques connexes (marketing, achats)

                    </p>
                </div>
                
            </div>
        </li>
        <li>
            <div>
                <div class="time-title">
                    <h4>2011/2014 - Licence de Biologie</h4>
                    <em>Université Blaise Pascal de Clemront-Ferrand</em>
                </div>
                <div class="time-description">
                    <span class="badge badge-success"></span>
                </div>
                
            </div>
        </li>
        
        
    </ul>
</div>
