<div class="timeline2">
    <ul>
        <li *ngFor="let exp of experiences">
            <div>
                <div class="time-title">
                    <h4>{{exp.date}} - {{exp.title}}</h4>
                    <em>{{exp.subtitle}}</em>
                </div>
                <div class="time-description">
                    <p>
                        <span *ngFor="let descr of exp.description">
                            - {{descr}}<br>
                        </span>
                    </p>
                </div>    
            </div>
        </li>      
    </ul>
</div>
