section{
    margin-top: 4rem;
    padding: 2rem 0;
}

p{
    margin: auto;
    padding-bottom: 1rem;
}

.slanting-back{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

svg{
    position: absolute;
    width: 100%;
    height: 10vw;
}

.svg-top{
    top: 0;
}

.svg-bottom{
    bottom: 0;
}

#competences, #timeline{
    position: relative;
    color: var(--main-bg-color);
}

#competences{
    height: 500px;
    background-image: linear-gradient(var(--secondary-bg-color-1), var(--secondary-bg-color-2));
}

#timeline{
    height: 1700px;
    background-image: linear-gradient(var(--secondary-bg-color-2), var(--secondary-bg-color-1));
}

h2{
    margin-bottom: 2rem;
}

.list-group-item{
    background: transparent;
}

/********************* PROJECT CARD ************************/
.project-card{
    margin-top: 1rem;
}

.project-card img{
    width: 100%;
    height: 11.5rem;
}
.project-body{
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.project-comment{
    height: 5.2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(194, 198, 212, 0);
}

.techno{
    height: 3.7rem;
}

/***************** MEDIA QUERIES *************************/

@media (max-width: 768px) {

    #competences{
        height: 1000px;
    }

    #timeline{
        height: 1770px;
    }
}

@media (max-width: 570px) {

    #timeline{
        height: 1850px;
    }

    .project-comment{
        height: 7rem;
    }
}

@media (max-width: 490px) {

    #timeline{
        height: 2150px;
    }
}

@media (max-width: 454px) {

    #timeline{
        height: 2350px;
    }
}

@media (max-width: 400px) {

    #timeline{
        height: 2550px;
    }
}

@media (max-width: 372px) {

    #timeline{
        height: 2750px;
    }
}

@media (max-width: 350px) {

    #timeline{
        height: 2950px;
    }
}

@media (max-width: 320px) {

    #timeline{
        height: 3200px;
    }
}

@media (max-width: 305px) {

    #timeline{
        height: 3500px;
    }
}
