<div>  
    <section id="presentation">
        <div class="container mx-auto">
            <h2>{{ 'header.navbar.presentation' | translate}}</h2>

            <p [innerHtml]="'presentation.content-1' | translate "></p>
            <p [innerHtml]="'presentation.content-2' | translate "></p>
            <p [innerHtml]="'presentation.content-3' | translate "></p>
            <p [innerHtml]="'presentation.content-4' | translate "></p>
            <p [innerHtml]="'presentation.content-5' | translate "></p>
        </div>
    </section>
    
    <section id="competences">
        <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 0,100 100,0"/>
        </svg>
        <div class="container mx-auto pt-5">
            <app-competences></app-competences>
        </div>
        <svg class="svg-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,100 100,0 100,100"/>
        </svg>
    </section>
    
    <section id="projects">
        <div class="container mx-auto">
            
            <app-projects></app-projects>
        </div>
    </section>

    <section id="timeline">
        <svg class="svg-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 100,0 100,100"/>
        </svg>
        <div class="container mx-auto pt-5">
            
            <h2>{{ 'header.navbar.timeline' | translate}}</h2>
            <app-timeline></app-timeline>
        </div>
        
    </section>
    
</div>