<div>  
    <section id="presentation">
        <div class="container mx-auto">
            <h2>Présentation</h2>
            <p><strong>Passionné</strong> d'informatique depuis toujours, je suis en <strong>reconversion professionnelle</strong>. </p>
            <p>Ayant acquis de part mes expériences de bonnes connaissances de la base qu'est HTML/CSS, 
                j'ai commencé à apprendre le PHP sur internet avant d'effectuer fin 2019 une formation de 3 mois 
                intitulée <strong>Développeur Java Fullstack</strong>. Grâce à laquelle j'ai pu comprendre ce qu'est la programmation orientée objet, 
                la gestion de bases de données, les notions de modélisation et surtout le développement d'application
            </p>
            <p>
                J'ai acquis des compétences très variées au vu de <strong>mon parcours atypique</strong> et de mes expériences dans de<strong> nombreux domaines.</strong><br>
                Je suis actuellement à la recherche d'un emploi de <strong>développeur en front ou en back</strong> avec une plus forte appétence pour le front et les technologies basées sur JavaScript.
            </p>
        </div>
    </section>
    
    <section id="competences">
        <div class="slanting-back"></div>
        <div class="container mx-auto">
            
            
            <h2>Compétences</h2>
            
            <div class="row">
                <div class="col-md-4">
                    <h3>Back-end</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">Spring (IoC, ID)</li>
                        <li class="list-group-item">Hibernate</li>
                        <li class="list-group-item">API REST</li>
                        <li class="list-group-item">mySQL</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Front-end</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">HTML/CSS</li>
                        <li class="list-group-item">JavaScript/jQuery</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">Angular</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>DevOps</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Git</li>
                        <li class="list-group-item">Maven</li>
                        <li class="list-group-item">Modélisation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="projects">
        <div class="container mx-auto">
            
            
            <h2>Projets Réalisés</h2>
            
            <div class="row">
             
                <div class="project-card col-md-4">
                    <h3>CrazyTrip</h3>
                    <img src="./assets/crazytrip.jpg" alt="">
                    <div class="project-body">
                        <p class="project-comment">Blog voyage, l'admnistrateur gère les articles et les 
                            utilisateurs peuvent commenter les articles après authentification
                        </p>
                        <div class="techno">Techno utilisées<br> 
                            <em>en front : Bootstrap, Angular <br>en back : Spring, Hibernate, REST, mySQL</em>
                        </div>
                    </div>
                   
                    <a href="https://github.com/markhovich/crazy-trip-v2" target="_blank"
                     class="btn btn-danger btn-block">En savoir plus</a>
                    
                </div>
                <div class="project-card col-md-4">
                    <h3>Jeu de la Vie</h3>
                    <img src="./assets/game-of-life.jpg" alt="Image non chargée">
                    <div class="project-body">
                        
                        
                        <p class="project-comment">Automate cellulaire imaginé par J.Conwey en 1970, 
                            chaque état conduit mécaniquement à l’état suivant à partir de règles pré-établies. 
                        </p>
                        <div class="techno">
                            Techno utilisées<br> 
                            <em>HTML/CSS, Bootstrap, JavaScript, jQuery</em>
                        </div>
                    </div>
                    <a href="https://github.com/markhovich/game-of-life" target="_blank"
                     class="btn btn-danger btn-block">En savoir plus</a>
                    
                </div>

                <div class="project-card col-md-4">
                    <h3>Concours photo</h3>
                    <img src="https://fakeimg.pl/350x200/5659A5/?text=Image à venir" alt="">
                    <div class="project-body">
                        <p class="project-comment">L'utilisateur peut créer un concours, soumettre les photos
                             et partager le lien pour que les personnes votent

                        </p>
                        <div class="techno">Techno utilisées<br>
                            <em>en front : Bootstrap, Angular <br>en back : Spring, Hibernate, REST, mySQL</em>
                        </div>
                    </div>
                    
                    <a href="https://github.com/markhovich/crazy-pic" target="_blank"
                    class="btn btn-danger btn-block">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>
    <section id="timeline">
        <div class="slanting-back"></div>
        <div class="container mx-auto">
            
            <h2>Parcours</h2>
            <app-timeline id="timeline"></app-timeline>
        </div>
        
    </section>
    
</div>