/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: #222121;
    --secondary-bg-color-1: rgb(13, 71, 161);
    --secondary-bg-color-2: rgb(66, 165, 245);
    --third-color: rgb(226, 38, 38);

    --main-bg-color-bis:  rgb(34, 33, 33);
    --main-text-color-bis: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6rem;
    background-color: var(--main-bg-color) ;
    color: var(--main-text-color);
    font-family: "Ubuntu", sans-serif;
    transition: 0.5s;
}

body.night-background{
    background-color: var(--main-bg-color-bis);
    color: var(--main-text-color-bis);
    transition: 0.5s;
}

polygon{
    transition: 0.5s;
}

/******************************* GENERAL ***********************/

h1, h2{
    color: var(--third-color);
}

h3, h4, h5{
    color: var(--secondary-title-color);
}

h2, h3{
    text-align: center;
}
p{
    max-width: 45rem;
    font-family: "Roboto", sans-serif;
    text-align: justify;
}
/****************** LISTS ************************************/

.list-group-item{
    background: transparent;
}

/****************** LINKS ************************************/
a:hover{
    filter: invert(20%);
    text-decoration: none;
}

/******************** ICONS ********************************/
i{
    width: 1rem;
}

/********************* BUTTONS ***************************/

.btn{
    border-radius: 0;
}